annotated-types==0.5.0
anyio==4.6.0
asgiref==3.8.1
beautifulsoup4==4.12.3
blinker==1.5
boto3==1.26.123
botocore==1.29.123
cachetools==5.5.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
confection==0.1.3
cryptography==40.0.2
Django==5.1.1
django-jazzmin==2.6.0
django-qrcode==0.3
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djoser==2.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
filelock==3.12.4
Flask==2.2.2
Flask-Mail==0.9.1
google-auth==2.35.0
gspread==6.1.2
httpx==0.27.2
idna==3.4
ipykernel==6.29.5
Jinja2==3.1.2
MarkupSafe==2.1.2
mysql-connector-python==8.0.33
mysqlclient==2.2.0
numpy==1.26.0
oauth2client==4.1.3
openai==1.50.2
pydantic==2.3.0
pywin32; platform_system == "Windows"  # Make it optional for Windows
pytz==2023.3
requests==2.28.2
s3transfer==0.6.0
six==1.16.0
soupsieve==2.6
spacy==3.6.1
sqlparse==0.4.3
urllib3==1.26.14
Werkzeug==2.2.2
